:root {
    --default-back-color: #007AFF;
    --default-back-color-hover: #0a6ad3;
    --default-back-color-active: #074991;
}

.button__defaults,
.buttons__options,
.buttons__sizes,
.buttons__states {
    margin: 10px 0;
}

.button {
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    outline: none;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button_lg {
    font-size: 20px;
    width: 180px;
    height: 60px;
}

.button_sm {
    font-size: 12px;
    width: 120px;
    height: 40px;
}

.button_xs {
    font-size: 10px;
    width: 90px;
    height: 30px;
}

.button_default {
    background-color: var(--default-back-color);
}

.button_default:hover:enabled {
    background-color: var(--default-back-color-hover);
}

.button_default:active:enabled {
    background-color: var(--default-back-color-active);
}

.button_success {
    background-color: limegreen;
}

.button_success:hover {
    background-color: green;
}

.button_success:active {
    background-color: darkgreen;
}

.button_info {
    background-color: lightskyblue;
}

.button_info:hover {
    background-color: deepskyblue;
}

.button_info:active {
    background-color: dodgerblue;
}

.button_warning {
    background-color: orange;
}

.button_warning:hover {
    background-color: darkorange;
}

.button_warning:active {
    background-color: coral;
}

.button_danger {
    background-color: crimson;
}

.button_danger:hover {
    background-color: firebrick;
}

.button_danger:active {
    background-color: darkred;
}